* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
.banner{
    background: url(images/donation1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-position: center;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-box h1 {
    font-size: 62px;
  }
  .text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
  }
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    background: #f44336;
    padding: 12px 34px;
    font-size: 16px;
  }
  .donate{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .donate h1 {
    font-size: 36px;
    font-weight: 600;
  }
  .donate p {
    color: #000;
    line-height: 22px;
    padding: 10px;
    margin-bottom: 30px;
  }

button{
    color: #000;
    border: 1px solid #fff;
    padding: 30px 40px;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    margin-bottom: 50px;
}
button:hover {
    border: 1px solid #f8c291;
    background: #f8c291;
    transition: 1s;
  }

  #other-amount{
    padding: 10px 50px;
  }
  .plan{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .plan h1 {
    font-size: 36px;
    font-weight: 600;
  }
  .plan h4 {
    font-weight: 600;
    margin-top: 30px;
  }
  .plan img{
    margin-top: 30px;
  }
.plan .col{
  flex-basis: 20%;
  border-radius: 10px;
  margin: 2%;
  text-align: left;
  padding: 25px;
  cursor: pointer;
}
.plan .food{
  background: #ebf3f3;
}
.plan .shelter{
  background: #f6e3df;
}
.plan .education{
  background: #f2eacf;
}
.flexible-container{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.flexible-container img{
  width: 100%;
}
.part-1{
  width: 50%;
  margin: 3%;
}
.part-1 h1{
  font-weight: 600;
}
.hero-btn2 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background: #f44336;
  margin-top: 10px;
  padding: 12px 30px;
  font-size: 16px;
}

/* second part */

.flexible-container2{
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.flexible-container2 img{
width: 100%;
}
.part-2{
width: 50%;
margin: 3%;
}
.part-2 h1{
font-weight: 600;
}
.part-3{
  text-align: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}
.part-3 h1{
  font-weight: 600;
  padding-bottom: 5px;
}
.form{
  margin-top: 40px;
  padding: 60px;
  background-color: #fbd8af;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn-form{
  background: #f44336;
  padding: 10px 30px;
  color: #fff;
}

footer{
  background: #000;
  text-align: center;
  padding: 30px;
}
footer h3{
  color: #f44336;
  font-style: italic;
}
footer p{
  color: #ccc;
  font-size: small;
}

